set timeout=5
set default=0
search --no-floppy --label OMSROOT --set=root
menuentry "Open Media Sanitizer" {
    linux /boot/oms-kernel root=PARTUUID=6f6d7301-02 rootwait ro console=tty0
}
menuentry "Disposable demonstration" {
    linux /boot/oms-kernel root=PARTUUID=6f6d7301-02 rootwait ro console=tty0 oms.demo=1
}
menuentry "Recovery console" {
    linux /boot/oms-kernel root=PARTUUID=6f6d7301-02 rootwait ro console=tty0 oms.console=1
}
